pyqtgraph~=0.12.1
matplotlib~=3.4.2
PyQt5~=5.15.4
dotted
pyserial~=3.5
scipy ~= 1.7.0
h5py ~= 3.3.0
numpy ~= 1.21.1
sphinx==1.6.7
livereload
autodoc
sphinx-autodoc-typehints
sphinx-autobuild
sphinx_rtd_theme