# Python version 3.9 

pyqtgraph~=0.12.1
matplotlib~=3.4.2
PyQt5~=5.15.1
pyserial~=3.5
scipy ~= 1.7.0
h5py ~= 3.3.0
numpy ~= 1.21.1
sphinx==1.6.7
livereload
autodoc
sphinx-autodoc-typehints
sphinx-autobuild
sphinx_rtd_theme
sklearn
brainflow
opencv-python

# Install psychopy and dependencies according to psychopy manual
pypiwin32
pandas 
pyopengl 
pyglet 
pillow 
moviepy 
lxml 
openpyxl
xlrd 
configobj 
pyyaml
gevent
greenlet
msgpack-python
psutil
tables
requests[security]
pyosf
cffi
pysoundcard 
pysoundfile
seaborn
psychopy_ext 
python-bidi
playsound
pyparallel
egi
iolabs
pytest
coverage 

wxpython
# Install psychopy
psychopy

# Install an audio library
pygame
